
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>El Lugar Perfecto</title>
    <link rel="stylesheet" href="~/css/inicio.css" asp-append-version="true"/>
</head>
<body>
<header class="inicio">
    <h1 class="titulo">EL LUGAR PERFECTO</h1>
    <p class="texto">
        En alpeloteo, nos aseguramos de que puedas disfrutar de tu deporte favorito sin preocupaciones. Por eso, nuestro servicio de reservas es fácil y rápido, y te permite reservar la cancha que quieras en cuestión de minutos. Además, nuestro equipo de soporte está siempre disponible para ayudarte en caso de cualquier duda o problema.
    </p>
    <a href="/UserAuthentication/Login" class="boton">RESERVA TU CANCHA AQUÍ</a>
</header>
</body>
</html>
